#flute{
    padding-top: 15px;
    background-image: url("./img/flute_render.png");
    /*if this isn't here, background duplicated itself within the container, I had 4 flutes lol*/
    background-repeat: no-repeat;
}


.fluteKeys:active{
    box-shadow: 
    12px 12px 16px 0 rgba('black');
}

.fluteOscillatorBtns{
    font-family: 'Brush Script MT', cursive;
    color: black;
    font-size: 30px;
    background-color: white;
    opacity: 0.6;
    box-shadow: 10px 5px 5px black;
}

.sanic{
    background-image: url("./img/flute_render.png");
}


.metaDataPlacement{
    color:gray;
    margin-left: 10px;
    
}

.button{
   transition-duration: 0.3s; 
   position: absolute;
   top: 78%;
   left: 50%;
   width: fit-content;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: gray;
    color: white;
    border-color: gray;
    border-radius: 2px;
    cursor: pointer;
    
}

.songSearchArea{
    margin-left: 5%;
}

.songSearchTitle{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 0%;
}

.userInputBox{
    width: 65%;
    height: 25px;
    font-size: 13px;
}


.searchBtn{
    margin: 5px;
}

.searchBtn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: gray;
    color: white;
    border-color: gray;
    border-radius: 2px;
    cursor: pointer;
}

.songLine{
    white-space: normal;
}


/* .modal-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 8;
} */

.modalBackground{
    background-color: gray;
    width: 600px;
}

.mainPage{
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-position: right 100%;
    background-image: url("./img/twerk.gif");
    background-repeat: no-repeat;



  /* //  absolute right-0 bottom-0 top-0 flex flex-column items-center justify-center */
}

